*.aux
*.log
*.synctex.gz
*.blg
*.bst
*.bcf

2gpd/*.aux
2xmod/*.aux
act-xmod/*.aux
braiding/*.aux
dbl-gpd/*.aux
der-sect/*.aux
gpd/*.aux
gpd/*.fig
gpd/*.p*
homotopy/*.aux
oddments/*.aux
others/*.aux
simp-gps/*.aux
simp-gps/*.fig
simp-gps/*.p*
xcomp/*.aux
xcomp/*.fig
xcomp/*.p*
xmod-gpd/*.aux
xmodcat1/*.aux
xmodcat1/*.log
xmodcat1/*.fig
xmodcat1/*.p*
xncube/*.aux
xpair/*.aux
xsq/*.aux
